@media (max-width: 575px) {
  .form-control {
    max-width: 200px;
    display: inline;
  }

  h1 {
    /* font-size: 15px !important; */
    line-height: 80%;
    /* margin-top: 10px; */
  }
}

/* @media (max-width: 767px) {
  h1 {
    margin-left: 4px;
  }
} */
